.feng-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(var(--feng-app-color));
    font-size: 14px;
}

.feng-radio-button p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.7em;
    margin: 0;
}

.feng-radio-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 8px 5px;
    position: relative;
    align-items: center;
}

.feng-radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.feng-radio__label {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid var(--feng-app-hover-color);
    box-shadow: var(--feng-app-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(var(--feng-text-color), .05);
    transition: all 0.3s ease-in-out;
}

.feng-radio__label .feng-radio__inner {
    transform-origin: center;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--feng-app-highlight-text-color);
    opacity: 0;
}

.feng-radio__label:hover {
    background-color: rgba(var(--feng-text-color), .15);
}

.feng-radio__label:hover .feng-radio__inner {
    transform: scale(1.1);
}

.feng-radio-button input[type="radio"]:checked+.feng-radio__label {
    border: none;
    background-color: var(--feng-app-highlight-background-color);
}

.feng-radio-button input[type="radio"]:checked+.feng-radio__label .feng-radio__inner {
    opacity: 1;
}